<form action="/restaurants" method="POST" class="d-flex flex-column m-3">
<div class="mb-3">
  <label for="name">餐廳名稱：</label>
  <input type="text" placeholder="請輸入餐廳名稱" name="name" id="name" class="mb-1 restaurant-show-title" style="width:300px" required>
</div>
<div class="mb-3">
  <label for="name_en">餐廳英文：</label>
  <input type="text" placeholder="請輸入餐廳名稱" name="name_en" id="name_en" class="mb-1 restaurant-show-title" style="width:300px">
</div>
<div class="mb-3">
  <label for="category">餐廳類別：</label>
  <input type="text" placeholder="請輸入餐廳類別" name="category" id="category" style="width:300px" required>
</div>
<div class="mb-3">
  <label for="location">餐廳地點：</label>
  <input type="text" placeholder="請輸入餐廳地址" name="location" id="location" style="width:300px" required>
</div>
<div class="mb-3">
  <label for="phone">電話：</label>
  <input type="text" placeholder="請輸入電話" name="phone" id="phone" style="width:300px" required>
</div>
<div class="mb-3">
  <label for="image">網址：</label>
  <input type="text"請附上餐廳照片網址 id="image" name ="image" style="width:500px" required>
</div>
<div class="mb-3">
  <label for="description">網址：</label>
  <input type="text" 請附上餐廳照片網址 id="description" name="description" style="width:500px" required>
</div>
  <button type="submit" style="width:100px">新增餐廳</button>
</form>